<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-route-converter.html">

<dom-module id="custom-router">
    <template>

        <app-route-converter route="{{route}}"
                             path="{{path}}">
        </app-route-converter>

    </template>
</dom-module>

<script>
    (function () {

        Polymer({

            is: 'custom-router',

            properties: {

                // '/A/B/C' Object
                route: {
                    type: Object,
                    notify: true
                },

                // '/A/B/C' String
                path: {
                    type: String,
                    notify: true
                },

                // 'A'
                dataUrl1: {
                    type: String,
                    notify: true
                },

                // 'B'
                dataUrl2: {
                    type: String,
                    notify: true
                },

                // 'C'
                dataUrl3: {
                    type: String,
                    notify: true
                }
            },

            observers: [
                '_setPath(dataUrl1, dataUrl2, dataUrl3)',
                '_setDataUrl(path)'
            ],

            ready: function() {

                if(typeof this.dataUrl1 === 'undefined') {

                    this.set('dataUrl1', '');
                }

                if(typeof this.dataUrl2 === 'undefined') {

                    this.set('dataUrl2', '');
                }

                if(typeof this.dataUrl3 === 'undefined') {

                    this.set('dataUrl3', '');
                }

            },

            _setPath: function(dataUrl1, dataUrl2, dataUrl3) {

                var dataUrl1 = dataUrl1 || '';
                var dataUrl2 = dataUrl2 || '';
                var dataUrl3 = dataUrl3 || '';

                var path = '/';

                if(dataUrl1) {

                    path += dataUrl1;
                }

                if(dataUrl2) {

                    path += '/' + dataUrl2;
                }

                if(dataUrl3) {

                    path += '/' + dataUrl3;
                }

                if(this.path != path) {

                    /*
                     * For now path can not be set from params
                     */

                    //alert(path);

                    //window.history.pushState({}, null, path);
                    //window.dispatchEvent(new CustomEvent('location-changed'));
                }
            },

            _setDataUrl: function(path) {

                // From url (path) set params

                if(path != '') {

                    var dataUrls = path.replace('/', '').split('/');

                    if(typeof dataUrls[0] !== 'undefined') {

                        if(this.dataUrl1 != dataUrls[0]) {

                            this.set('dataUrl1', dataUrls[0]);
                        }else {

                            this.set('dataUrl1', '');
                        }

                    }else {

                        this.set('dataUrl1', '');
                    }

                    if(typeof dataUrls[1] !== 'undefined') {

                        if(this.dataUrl2 != dataUrls[1]) {

                            this.set('dataUrl2', dataUrls[1]);
                        }else{

                            this.set('dataUrl2', '');
                        }

                    }else {

                        this.set('pathTwo', '');
                    }

                    if(typeof dataUrls[2] !== 'undefined') {

                        if(this.dataUrl3 != dataUrls[2]) {

                            this.set('dataUrl3', dataUrls[2]);
                        }else {

                            this.set('dataUrl3', '');
                        }

                    }else {

                        this.set('dataUrl3', '');
                    }

                    console.log(this.dataUrl1+'/'+this.dataUrl2+'/'+this.dataUrl3);
                }

            }
        });
    })();
</script>
