<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-route-converter.html">

<dom-module id="custom-router">
    <template>

        <app-route-converter route="{{route}}" path="{{path}}">
        </app-route-converter>

        <!-- URL level 1 -->
        <app-route
                route="{{route}}"
                pattern="/:data"
                data="{{dataUrl1}}"
                tail="{{subRoute}}">
        </app-route>

        <!-- URL level 2 -->
        <app-route
                route="{{subRoute}}"
                pattern="/:data"
                data="{{dataUrl2}}"
                tail="{{subSubRoute}}">
        </app-route>

        <!-- URL level 3 -->
        <app-route
                route="{{subSubRoute}}"
                pattern="/:data"
                data="{{dataUrl3}}"
                tail="{{subSubSubRoute}}">
        </app-route>
    </template>
</dom-module>

<script>
    (function () {

        Polymer({

            is: 'custom-router',

            properties: {

                // '/A/B/C' object
                route: {
                    type: Object,
                    notify: true
                },

                // 'A'
                pathOne: {
                    type: String,
                    notify: true
                },

                // 'B'
                pathTwo: {
                    type: String,
                    notify: true
                },

                // 'C'
                pathThree: {
                    type: String,
                    notify: true
                }
            },

            observers: [
                '_setPathOne(dataUrl1.data)',
                '_setPathTwo(dataUrl2.data)',
                '_setPathThree(dataUrl3.data)',

                '_setRoute(pathOne, pathTwo, pathThree)'
            ],

            ready: function() {

                if(typeof this.pathOne === 'undefined') {

                    this.set('pathOne', '');
                }

                if(typeof this.pathTwo === 'undefined') {

                    this.set('pathTwo', '');
                }

                if(typeof this.pathTree === 'undefined') {

                    this.set('pathThree', '');
                }

            },

            _setPathOne: function(data) {

                this.pathOne = data;
            },

            _setPathTwo: function(data) {

                this.pathTwo = data;
            },

            _setPathThree: function(data) {

                this.pathThree = data;
            },

            _setRoute: function(pathOne, pathTwo, pathThree) {

                var pathOne = pathOne || '';
                var pathTwo = pathTwo || '';
                var pathThree = pathThree || '';

                var path = '/';

                if(pathOne) {

                    path += pathOne;
                }

                if(pathTwo) {

                    path += '/' + pathTwo;
                }

                if(pathThree) {

                    path += '/' + pathThree;
                }

                if(this.path != path) {

                    window.history.pushState({}, null, path);
                    //window.dispatchEvent(new CustomEvent('location-changed'));
                }
            },

            _setPaths: function(path) {

                if(typeof path !== 'undefined') {

                    if(path != '') {

                        var paths = path.replace('/', '').split('/');

                        if(typeof paths[0] !== 'undefined') {

                            this.set('pathOne', paths[0]);

                        }else {

                            this.set('pathOne', '');
                        }

                        if(typeof paths[1] !== 'undefined') {

                            this.set('pathTwo', paths[1]);

                        }else {

                            this.set('pathTwo', '');
                        }

                        if(typeof paths[2] !== 'undefined') {

                            this.set('pathTree', paths[2]);

                        }else {

                            this.set('pathTree', '');
                        }
                    }
                }
            }
        });
    })();
</script>
