<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="my-icons.html">

<dom-module id="drawer-content">
    <style>

        /* GENERAL */
        :host {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #eee;
            background-color: #222;
        }

        a {
            text-decoration: none;
        }

        /* TOP PART */
        #topPart {
            padding-top: 18px;
            background-size: cover;
            background-color: var(--app-dark-primary-color);
            color: var(--app-primary-text-color);
        }

        #icon {
            height: 96px;
            width: 96px;
            margin-bottom: 24px;
            color: var(--app-light-primary-color);
        }

        #profileImage {
            margin-left: 18px;
            margin-bottom: 24px;
            height: 83px;
            width: 83px;
            border-radius: 64px;
            background-size: contain;
        }

        #topButton {
            display: block;
            padding-bottom: 16px;
        }
        
        #topButton a {
            color: #eeeeee;
            text-decoration: none;
        }

        #signUpButton {
            background-color: var(--app-secondary-color);
        }

        #signUpButton a {
            color: var(--app-secondary-text-color);
            text-decoration: none;
        }

        .userName {
            display: block;
            font-size: 18px;
            padding-bottom: 12px;
            padding-left: 18px;
            text-align: left;
            text-transform: capitalize;
        }

        .userName a {
            color: #fff;
            text-decoration: none;
        }

        /* MIDDLE PART */
        #middlePart {
            background-color: transparent;
        }

        #middlePart paper-item iron-icon {
            color: #eeeeee;
            margin-right: 24px;
        }

        #middlePart a paper-item span {
            color: #eeeeee;
            text-decoration: none;
            font-weight: 500;
        }

        #chat iron-icon, #chat a {
            color: #666 !important;
        }

        /* BOTTOM PART */
        .supportButton {
            position: fixed;
            width: 100%;
            bottom: 120px;
            padding: 8px 0px;
            text-align: left;
            background-color: #1d1d1d;
        }

        .supportButton paper-item {
            display: inline;
        }

        .supportButton a paper-item {
            color: #eee;
            text-decoration: none;
        }

        .supportButton iron-icon {
            margin-top: 4px;
            color: #eee;
            margin-right: 24px;
            vertical-align: text-bottom;
        }
        
        #githubButton {
            padding: 8px 16px;
            margin-right: 8px;
            float: right;
            min-width: 0;
            min-height: 0;
            background-color: #333;
        }

        #githubButton iron-icon {
            margin: 0;
            --iron-icon-height: 18px;
            --iron-icon-width: 18px;   
        }

        #appVersion {
            position: fixed;
            left: 0px;
            bottom: 170px;
            margin-left: 16px;
            margin-bottom: 8px;
            font-size: 12px;
            color: #646464;
        }

    </style>
    <template>
        
        <!-- TOP PART -->
        <div id="topPart">

            <!-- PROFILE IMAGE -->
            <template is="dom-if" if="[[settings.user.account.profileImage]]">
                <div id="profileImage" style="background-image: url('[[settings.user.account.profileImage]]')"></div>
            </template>

            <!-- PROFILE ICON -->
            <template is="dom-if" if="[[!settings.user.account.profileImage]]">
                <iron-icon id="icon"
                           icon="my-icons:person-circle">
                </iron-icon>
            </template>

            <!-- LOGED -->
            <template is="dom-if" if="[[settings.user.name]]">
                
                <!-- USERNAME -->
                <span class="userName">
                    <a href="/@[[settings.user.name]]">@[[settings.user.name]]</a>
                </span>

            </template>

            <!-- NOT LOGED -->
            <template is="dom-if" if="[[!settings.user.name]]">
                <div id="topButton">
                    <paper-button>
                        <a href="/login">Log in</a>
                    </paper-button>
                    <paper-button id="signUpButton"
                                  raised>
                        <a href="/login">Sign up</a>
                    </paper-button>
                </div>
            </template>
        </div>
        
        <!-- MIDDLE PART -->
        <paper-listbox id="middlePart">
            
            <div class="menuItems">

                <a href="/trending/">
                    <paper-item>
                        <iron-icon icon="my-icons:explore"></iron-icon>
                        <span>Explore</span>
                    </paper-item>
                </a>

                <a href="/favorites">
                    <paper-item>
                        <iron-icon icon="my-icons:favorite"></iron-icon>
                        <span>Favorites</span>
                    </paper-item>
                </a>

                <!--a href="/tools">
                    <paper-item>
                        <iron-icon icon="my-icons:apps"></iron-icon>
                        <span>Tools</span>
                    </paper-item>
                </a-->

                <a href="/settings">
                    <paper-item>
                        <iron-icon icon="my-icons:settings"></iron-icon>
                        <span>Settings</span>
                    </paper-item>
                </a>

            </div>
        </paper-listbox>
        <span id="appVersion">Release 0.0.4 [ALPHA]</span>
        <!-- BOTTOM PART -->
        <div class="supportButton">
            <a href="/support">
                <paper-item>
                    <iron-icon icon="my-icons:done"></iron-icon>
                    <span>Support</span>
                    <paper-button id="githubButton" on-tap="_openGithub()">
                        <iron-icon icon="my-icons:github" ></iron-icon>
                    </paper-button>
                </paper-item>
            </a>
        </div>
    </template>
</dom-module>

<script>
    (function () {

        Polymer({

            is: 'drawer-content',

            properties: {

                settings: {
                    type: Object
                },

                firstUrl: {
                    type: String
                }
            },

            observers: [
                '_updateCoverImage(settings.user.account.coverImage)'
            ],

            ready: function() {
                
                // List events
                this.$.githubButton.addEventListener('tap', this._openGithub.bind(this));

                this._updateCoverImage();
            },

            _updateCoverImage: function(coverImage) {

                var coverImage = coverImage || '';

                if(typeof this.settings !== 'undefined'){

                    coverImage = this.settings.user.account.coverImage;
                }

                if(coverImage !== ''){

                    this.$.topPart.style.backgroundImage = "url('" + coverImage + "')";
                }else {

                    this.$.topPart.style.backgroundImage = "";
                }
            },
            
            _openGithub: function() {
                
                window.open('https://github.com/esteem8app/esteem8app.github.io');  
            }
         
        });
    })();
</script>
