<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/my-icons.html">

<dom-module id="file-card">

    <template>

        <style include="shared-styles">

            /* GENERAL */
            :host {
                @apply(--layout-flex);
            }

            * {
                font-weight: 300;
            }

            #viewFileButton {
                position: absolute;
                margin-top: -38px;
                margin-left: -40px;
                color: #eee;
                z-index: 3;
            }

            #editFileButton {
                position: absolute;
                margin-top: -38px;
                margin-left: -80px;
                color: #eee;
                z-index: 3;
            }

            #fileCard {
                display: inline-block;
                margin: 12px;
                text-align: right;
                background: var(--app-secondary-background-color);
                --paper-card-background-color: var(--app-secondary-background-color);
                --paper-card-header-color: var(--app-background-primary-text-color);
                --paper-card-header-image: {
                    width: 216px;
                    height: 133px;
                };

                --paper-card-header-text: {
                    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
                    font-size: 12px;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 12px;
                    color: #eee;
                };
            }

            @media (max-width: 400px) {
                #fileCard {
                    margin: 8px;
                    --paper-card-header-image: {
                        width: 142px;
                        height: 88px;
                    };
                }
            }

        </style>


        <!-- post cards -->
        <paper-card id="fileCard"
                    heading="[[file.name]]"
                    image="[[file.image]]"><div class="fileActions">

                <paper-icon-button id="editFileButton"
                                   on-tap="_editFile()"
                                   icon="my-icons:edit">
                </paper-icon-button>

                <paper-icon-button id="viewFileButton"
                                   on-tap="_viewFile()"
                                   icon="my-icons:visibility">
                </paper-icon-button>

        </paper-card>

    </template>
</dom-module>

<script>

    Polymer({

        is: 'file-card',

        properties: {

            file: {
                type: Object
            },

            action: {
                type: Object,
                notify: true
            }
        },

        ready: function() {

            this.$.editFileButton.addEventListener('tap', this._editFile.bind(this));
            this.$.viewFileButton.addEventListener('tap', this._viewFile.bind(this));
        },

        _editFile: function() {

            this.set('action', {type: 'edit', id: this.file.id});
        },

        _viewFile: function() {

            this.set('action', {type: 'view', id: this.file.id});
        }

    });

</script>