<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/my-icons.html">

<dom-module id="file-card">

    <template>

        <style include="shared-styles">

            /* GENERAL */
            :host {
                text-align: left;
            }

            * {
                font-weight: 500;
            }

            paper-checkbox {
                --paper-checkbox-checked-color: var(--app-secondary-color);
                --paper-checkbox-checked-ink-color: var(--app-secondary-color);

                --paper-checkbox-unchecked-color: var(--app-background-primary-text-color);
                --paper-checkbox-unchecked-ink-color: var(--app-secondary-text-color);
                --paper-checkbox-label-color: var(--app-secondary-text-color);
            }

            #fileCard {
                display: inline-block;
                margin: 12px;
                background-color: var(--app-secondary-background-color);
                background-size: cover;
                color: var(--app-background-primary-text-color);
                width: 216px;
                height: 133px;
            }

            @media (max-width: 400px) {
                #fileCard {
                    margin: 8px;
                    width: 142px;
                    height: 88px;
                }
            }

            #headerImage {
                @apply(--layout-vertical);
                text-align: left;
                width: 100%;
                height: 100%;
                margin: 0;
                color: #eee;
            }

            #headerImage .vertical-space {
                @apply(--layout-flex);
            }

            #headerImage .heading {
                padding: 8px;
                padding-top: 12px;
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
            }

            #selectFileCheckbox {
                position: absolute;
                top: 10px;
                right: 2px;
                z-index: 3;
            }

        </style>


        <!-- post cards -->
        <paper-card id="fileCard">

                <div id="headerImage" on-tap="_fileTaped()">
                    <div class="vertical-space"></div>
                    <div class="heading">
                        [[file.name]]
                    </div>
                </div>

                <paper-checkbox id="selectFileCheckbox"
                                checked="{{_isSelected}}"
                                hidden="[[!allowSelect]]">
                </paper-checkbox>

        </paper-card>

    </template>
</dom-module>

<script>

    Polymer({

        is: 'file-card',

        properties: {

            /*
             * File Object
             */
            file: {
                type: Object
            },

            /*
             * Action object
             */
            action: {
                type: Object,
                notify: true
            },

            /*
             * Selected files arrays
             */
            selectedFiles: {
                type: Array,
                notify: true
            },

            allowSelect: {
                type: Boolean
            },

            _isSelected: {
                type: Boolean
            }
        },

        observers: [
            '_computeIsSelectedFile(selectedFiles, selectedFiles.length)',
            '_updateSelectFile(_isSelected)',
            '_updateImage(file.image)'
        ],

        ready: function() {

            // List events
            this.$.headerImage.addEventListener('tap', this._fileTaped.bind(this));

            if(typeof this.allowSelect == 'undefined') {

                this.allowSelect = true;
            }

            if(typeof this.selectedFiles == 'undefined') {

                this.selectedFiles = [];
            }

            // set default var
            this._isSelected = false;
        },

        _fileTaped: function() {

            if(this.allowSelect) {

                if(!this._isSelected) {

                    // One click -> select
                    this._isSelected = true;
                }else {

                    // Two click -> open
                    this.set('action', {type: 'view', id: this.file.id});
                }
            }else {

                // One click -> open
                this.set('action', {type: 'view', id: this.file.id});
            }


        },

        _updateImage: function(imageUrl) {

            this.$.fileCard.setAttribute('style', 'background-image: url("' + imageUrl + '");');
        },

        _computeIsSelectedFile: function(selectedFiles, length) {

            // If file id is in file list
            if(selectedFiles.indexOf(this.file.id) >= 0) {

                this._isSelected = true;
            }else {

                this._isSelected = false;
            }

        },

        _updateSelectFile: function(_isSelected) {

            if(_isSelected) {

                this.push('selectedFiles', this.file.id);
            }else {

                var selectedFileIndex = this.selectedFiles.indexOf(this.file.id);

                if(selectedFileIndex >= 0) {

                    this.splice('selectedFiles', selectedFileIndex, 1);
                }
            }

        }

    });

</script>