<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="github-repository-file-list.html">
<link rel="import" href="github-repository-file-view.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="github-repository-file">

    <style include="shared-styles">

        :host {
            width: 100%;
        }


    </style>

    <template>

            <github-repository-file-list repository="[[repository]]"
                              selected-file="{{_selectedFile}}">
            </github-repository-file-list>

            <github-repository-file-view file="[[_selectedFile]]"></github-repository-file-view>

    </template>
</dom-module>

<script>

    (function() {

        'use strict';

        Polymer({

            is: 'github-repository-file',

            properties: {

                /*
                 * repository url
                 */
                repository: {
                    type: Object
                },

                _selectedFile: {
                    type: Object,
                    observer: '_selectedFileChanged'
                }
            },

            ready: function() {

            },

            _selectedFileChanged: function() {

            }
        });
    })();
</script>