<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../components/html-echo.html">
<link rel="import" href="../components/my-icons.html">
<link rel="import" href="../components/prism-render.html">
<link rel="import" href="../api/other/url-get-file.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="github-repository-file-view">

    <template>

        <style include="shared-styles">

            .right {
                position: absolute;
                right: 4px;
                top: 4px;
            }

            .currentFileInfo {
                color: var(--app-secondary-color);
                border-top: 1px solid var(--app-background-secondary-text-color);
            }

            .currentFile {
                border-top: 1px solid var(--app-background-secondary-text-color);
                padding: 8px;
                max-width: 550px;
                max-height: 500px;
                overflow: auto;
            }

            marked-element a{
                color: var(--app-background-primary-text-color) !important;
            }

        </style>

        <url-get-file url="[[file.download_url]]" response-text="{{_fileText}}"></url-get-file>

        <paper-item class="currentFileInfo">

            <iron-icon icon="my-icons:[[_computeFileIcon(file.name, file.type)]]"></iron-icon>
            [[file.name]]
            <div class="right" hidden="[[_isFileDir]]">
                <paper-icon-button id="githubLinkDownload"
                                   on-tap="_downloadFile()"
                                   icon="my-icons:download">
                </paper-icon-button>
                <paper-icon-button id="githubLinkHistory"
                                   on-tap="_openFileInGithub()"
                                   open-type="commits"
                                   icon="my-icons:history">
                </paper-icon-button>
                <paper-icon-button id="githubLinkView"
                                   on-tap="_openFileInGithub()"
                                   open-type="blob"
                                   icon="my-icons:link">
                </paper-icon-button>
                <paper-icon-button id="githubLinkEdit"
                                   on-tap="_openFileInGithub()"
                                   open-type="edit"
                                   icon="my-icons:edit">
                </paper-icon-button>
            </div>
        </paper-item>

        <div class="currentFile">
            <template is="dom-if" if="[[_isFileMarkdown]]">
                <html-echo html="[[_fileText]]"></html-echo>
            </template>

            <template is="dom-if" if="[[_isFileCode]]">
                <prism-render code="[[_fileText]]"></prism-render>
            </template>

            <template is="dom-if" if="[[_isFileImage]]">
                <img src="[[file.download_url]]"></img>
            </template>
        </div>


    </template>

    <script>

        (function() {

            'use strict';

            Polymer({

                is: 'github-repository-file-view',

                properties: {

                    /*
                     * GitHub file Object given from API
                     */
                    file: {
                        type: Object,
                        observer: '_computeFileType'
                    },

                    /*
                     * Github repository file url to load
                     */
                    /*fileUrl: {
                        type: String,
                        observer: '_createFileObject'
                    },
*/
                    _fileText: {
                        type: Object
                    },

                    _isFileMarkdown: {
                        type: Boolean
                    },

                    _isFileCode: {
                        type: Boolean,
                        observer: '_renderCode'
                    },

                    _isFileDir: {
                        type: Boolean
                    },

                    _isFileImage: {
                        type: Boolean
                    }
                },

                ready: function() {

                    // List events
                    this.$.githubLinkEdit.addEventListener('tap', this._openFileInGithub.bind(this));
                    this.$.githubLinkHistory.addEventListener('tap', this._openFileInGithub.bind(this));
                    this.$.githubLinkView.addEventListener('tap', this._openFileInGithub.bind(this));

                },

                /*_createFileObject: function() {

                    var fileObject = {};
                    var htmlFileUrl = this.fileUrl
                            .replace("github.com", "raw.githubusercontent.com")
                            .replace("/blob", "")

                    fileObject.download_url = htmlFileUrl;
                    fileObject.name = /((?:[\. %a-zA-Z0-9-]+)?.\w+)$/gm.exec(htmlFileUrl)[0];
                    fileObject.type = 'file';

                    this.file = fileObject;
                    this._computeFileType();

                },*/

                _computeFileType: function() {

                    this._isFileMarkdown = (this._computeFileIcon(this.file.name)  == 'text-file');
                    this._isFileImage = (this._computeFileIcon(this.file.name)  == 'image');
                    this._isFileCode = (this._computeFileIcon(this.file.name)  == 'code');
                    this._isFileDir = (this._computeFileIcon(this.file.name, this.file.type)  == 'folder');

                },

                _openFileInGithub: function(e) {

                    var type = Polymer.dom(e).localTarget.getAttribute('open-type') || 'blob';

                    var link = this.file.html_url;
                        link = link.replace('blob', type);

                    window.open(link);
                },

                _computeFileIcon: function(name, type) {

                    var type = type || 'file';

                    switch (type) {

                        case 'dir':

                            return 'folder';

                        case 'file':

                            if(name.includes('.md')) {

                                return 'text-file';
                            }else if(name.includes('.html') || name.includes('.js') || name.includes('.css') || name.includes('.json')) {

                                return 'code';
                            }else if(name.includes('.jpg') || name.includes('.jpeg') || name.includes('.png') || name.includes('.gif') ||  name.includes('.svg')) {

                                return 'image';
                            }else{

                                return 'file';
                            }
                    }


                }

            });
        })();
    </script>
</dom-module>
