<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="post-path-list.html">
<link rel="import" href="post-wrapper.html">

<dom-module id="html-echo">
    <style>
        :host {
            display: block;
        }

        ::selection {
            background: var(--app-light-primary-color);
            color: var(--app-primary-text-color);
        }

        .markdown-html a {
            color: var(--app-secondary-color) !important;
        }

        .markdown-html * {
            font-family: 'Open Sans', 'Roboto', sans-serif;
        }

        .markdown-html h1, .markdown-html h2, .markdown-html h3, .markdown-html h4, .markdown-html h5, .markdown-html h6 {
            color: var(--app-background-primary-text-color);
            font-family: 'Roboto', 'Open Sans', sans-serif;
        }

        .markdown-html img {
            max-width: 100%;
        }

        /* TABLES */
        .markdown-html table {
            width: 100%;
            border-collapse: collapse;
            overflow: scroll;
        }

        .markdown-html table, .markdown-html th, .markdown-html td {
            border: 1px solid #ddd;
        }

        .markdown-html th, .markdown-html td {
            padding: 8px;
        }

        .markdown-html th a, .markdown-html td a {
            text-decoration: none;
        }

        .markdown-html th:hover, .markdown-html td:hover {
            background-color: #888;
        }

        .markdown-html th {
            font-weight: bold;
        }

        .markdown-html tr:hover {
            background-color: #777;
        }

    </style>
    <template>
        <marked-element markdown="[[_htmlDisplayed]]">
            <div class="markdown-html"></div>
        </marked-element>
    </template>
</dom-module>

<script>

    (function () {

        Polymer({

            is: 'html-echo',

            properties: {

                html: {
                    type: String,
                    observer: '_htmlChanged'
                },

                _htmlDisplayed: {
                    type: String
                }
            },

            ready: function() {

            },

            _htmlChanged: function () {

                var html = this.html;

                if(html.includes('― Leonardo da Vinci')){

                    html += ' created/esteem8 ';
                    html += ' esteem8/@esteem8/what-the-esteem8-is-fuck';
                }

                // Tag path -> <post-path-list>
                var tagPathRegex = /(created|hot|trending|active)\/[a-zA-Z0-9-]+/gm;

                html = html.replace(tagPathRegex, function(match){

                    return '<post-path-list steem-path="' + match + '" post-type="card-light"></post-path-list>';
                });

                // Post path -> <post>
                var postPathRegex = /[a-zA-Z0-9-]+\/@[a-zA-Z0-9-]+\/[a-zA-Z0-9-]+/gm;

                html = html.replace(postPathRegex, function(match){

                    return '<post-wrapper steem-path="' + match + '" post-type="card-light"></post-wrapper>';
                });


                this._htmlDisplayed = html;

                /* TODO
                 * [X] Render markdown as HTML
                 * [ ] transform links into HTML or Custom elements
                 * [ ] Sanitize HTML
                 */

            }
        });
    })();
</script>