<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="post-path-list.html">
<link rel="import" href="post-wrapper.html">
<link rel="import" href="github-repository.html">

<dom-module id="html-echo">
    <style>
        :host {
            display: block;
        }

        ::selection {
            background: var(--app-light-primary-color);
            color: var(--app-primary-text-color);
        }

        .markdown-html a {
            color: var(--app-secondary-color) !important;
        }

        .markdown-html * {
            font-family: 'Open Sans', 'Roboto', sans-serif;
        }

        .markdown-html h1, .markdown-html h2, .markdown-html h3, .markdown-html h4, .markdown-html h5, .markdown-html h6 {
            color: var(--app-background-primary-text-color);
            font-family: 'Roboto', 'Open Sans', sans-serif;
        }

        .markdown-html img {
            max-width: 100%;
        }

        /* TABLES */
        .markdown-html table {
            max-width: 100%;
            border-collapse: collapse;
            overflow: scroll;
        }

        .markdown-html table, .markdown-html th, .markdown-html td {
            border: 1px solid #ddd;
        }

        .markdown-html th, .markdown-html td {
            padding: 8px;
        }

        .markdown-html th a, .markdown-html td a {
            text-decoration: none;
        }

        .markdown-html th:hover, .markdown-html td:hover {
            background-color: #888;
        }

        .markdown-html th {
            font-weight: bold;
        }

        .markdown-html tr:hover {
            background-color: #777;
        }

        /* APP Elements */
        .markdown-html post-path-list {
            width: 100%;
        }

        .markdown-html post-wrapper {
            width: 100%;
        }

    </style>
    <template>
        <marked-element markdown="[[_htmlDisplayed]]">
            <div class="markdown-html">[[_htmlDisplayed]]</div>
        </marked-element>
    </template>
</dom-module>

<script>

    (function () {

        Polymer({

            is: 'html-echo',

            properties: {

                html: {
                    type: String,
                    observer: '_htmlChanged'
                },

                _htmlDisplayed: {
                    type: String
                }
            },

            ready: function() {

            },

            _htmlChanged: function () {

                var html = this.html;

                if(html.includes('― Leonardo da Vinci')){

                    //html += ' created/esteem8-features ';
                    //html += ' https://github.com/esteem8app/esteem8app.github.io ';
                    //html += ' steem/@esteem8/esteem8-community-proposals ';
                    //html += ' steem/@primerz/what-is-steem ';
                }

                if(html.includes('You can create your own idea')) {

                    //html += ' https://github.com/esteem8app/esteem8app.github.io ';
                }

                // RENDER <a href into <img>
                var imageLinkARegex = /<a([ ="'a-zA-Z0-9-]+)? href=('|")(https?:\/\/)?(\w+.)?\w+.\w+[ \/%&a-zA-Z0-9-]+.(jpg|png|gif|jpeg)\??([ \/%&=a-zA-Z0-9-]+)?("|')>(https?:\/\/)?(\w+.)?\w+.\w+[ \/%&a-zA-Z0-9-]+.(jpg|png|gif|jpeg)\??([ \/%&=a-zA-Z0-9-]+)?<\/a>/gm;
                html = html.replace(imageLinkARegex, function(match){

                    var imgUrlRegex = /(https?:\/\/)?(\w+.)?\w+.\w+[ \/%&a-zA-Z0-9-]+.(jpg|png|gif|jpeg)\??([ \/%&=a-zA-Z0-9-]+)?/g;
                    var url = imgUrlRegex.exec(match)[0];

                    return '<img src="' + url + '" ></img>';
                });

                // RENDER ![](src) & [](src) into <img>
                var markdwonImageRegex = /!?\([ a-zA-Z0-9-]+\)!?\[(https?:\/\/)?(\w+.)?\w+.\w+[ \/%&a-zA-Z0-9-]+.(jpg|png|gif|jpeg)\??([ \/%&=a-zA-Z0-9-]+)?]/gm;
                html = html.replace(markdwonImageRegex, function(match){

                    var imgUrlRegex = /(https?:\/\/)?(\w+.)?\w+.\w+[ \/%&a-zA-Z0-9-]+.(jpg|png|gif|jpeg)\??([ \/%&=a-zA-Z0-9-]+)?/g;
                    var url = imgUrlRegex.exec(match)[0];

                    return '<img src="' + url + '" ></img>';
                });

                // RENDER direct image link into <img> (must not be yet in <img>)

                /* RENDER in-app elements from link*/

                // Tag path -> <post-path-list>
                /*var tagPathRegex = /[^("|'|[)](created|hot|trending|active)\/[a-zA-Z0-9-]+/gm;
                html = html.replace(tagPathRegex, function(match){

                    var match = match.replace(" ", "");
                    console.log(match);
                    return '<post-path-list steem-path="' + match + '" post-type="card-light"></post-path-list>';
                });

                // User path -> <post-path-list>
                var tagPathRegex = /[^(\/|"|'|[)]\/@[a-zA-Z0-9-]+/gm;
                html = html.replace(tagPathRegex, function(match){

                    var match = match.replace(" ", "");
                    return '<post-path-list steem-path="' + match + '" post-type="card-light"></post-path-list>';
                });
                */
                // Post path -> <post>
                var postPathRegex = /[a-zA-Z0-9-]+\/@[a-zA-Z0-9-]+\/[a-zA-Z0-9-]+/gm;
                html = html.replace(postPathRegex, function(match){

                    var match = match.replace(" ", "");
                    return '<post-wrapper steem-path="' + match + '" post-type="content-minimal"></post-wrapper>';
                });

                // Github repository path -> <github-repository>
                var gitHubRepositoryRegex = /[^("|'|[)]https:\/\/github\.com\/[a-zA-Z0-9-]+\/[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+/gm
                html = html.replace(gitHubRepositoryRegex, function(match){

                    var match = match.replace(" ", "");
                    return '<github-repository repository="' + match + '" ></github-repository>';
                });

                // Consider it link -> <responsive-iframe>
                var considerItRegex = /[^("|'|[)]https:\/\/[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+\.it\//gm;
                html = html.replace(considerItRegex, function(match){

                    var url = match.replace(" ", "");
                    return '<responsive-iframe src="' + url + '" ></responsive-iframe>';
                });

                // Youtube video
                var youtubeVideoregex = /[^("|'|[)]https:\/\/www\.[a-zA-Z0-9-]+\.com\/(watch\?v=|embed\/)[_a-zA-Z0-9-]+/gm
                html = html.replace(youtubeVideoregex, function(match){

                    var match = match.replace(" ", "");
                    var url = match.replace("https://www.youtube.com/watch?v=", "");
                        url = match.replace("https://www.youtube.com/embed/", "");
                    return '<responsive-iframe src="' + url + '" ></responsive-iframe>';
                });

                // Soundcloud track + maybe other soundcloud elements

                // PDF
                // https://customelements.io/streetturtle/pdf-element/

                // Google docs -> <google-docs-embedded>
                var googleDocsRegex = /[^("|'|[)]https:\/\/docs\.google\.com\/(presentation|document|spreadsheets|forms)\/d\/(e\/)?[a-zA-Z0-9-]+\/[?&a-zA-Z0-9-#=]+/gm;
                html = html.replace(googleDocsRegex, function(match){

                    var match = match = match.replace(" ", "");

                    // Url can be one that is publicly published or one that we used in editor
                    var rawDocummentUrlRegex = /[^("|'|[)]https:\/\/docs\.google\.com\/(presentation|document|spreadsheets|forms)\/d\/(e\/)?[a-zA-Z0-9-]+\//g
                    var url = rawDocummentUrlRegex.exec(match)[0];

                    if(url.includes('https://docs.google.com/presentation') || url.includes('https://docs.google.com/document')) {

                        url += 'pub';
                    }

                    if(url.includes('https://docs.google.com/spreadsheets')) {

                        url += 'pubhtml';
                    }

                    if(url.includes('https://docs.google.com/forms')) {

                        url += 'viewform';
                    }

                    return '<google-docs-embedded src="' + url + '" ></google-docs-embedded>';
                });


                // REGEX tester https://regex101.com/

                this._htmlDisplayed = html;

                /* TODO
                 * [ ] implement set post type from link such as card-light:/path
                 * [X] Render markdown as HTML
                 * [ ] transform links into HTML or Custom elements
                 * [ ] transform absolute url that can be used by the app into relative to make theme functional
                 * [ ] Sanitize HTML
                 */

                /*
                 * IDEAS
                 * Email form maybe with https://formspree.io
                 * Github HTML API file
                 * Github HTML API folder
                 * Github HTML API organization
                 * Github HTML API Account
                 * Github JS API implementation
                 * Raw video extraction from yt and + with custom video player found on customelement.io
                 * soundcloud JS API implementation https://developers.soundcloud.com/docs/api/guide
                 * Discord embedded on desktop or link on mobile
                 * Render code with prism render
                 */

            }
        });
    })();
</script>