<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="my-icons.html">

<dom-module id="images-slider">

    <style>

        :host {
            display: block;
        }

        #imageBox {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: zoom-in;
            height: 200px;
            line-height: 200px;
            width: 100%;
        }

        #navInfo {
            right: 0;
            height: 175px;
            line-height: 175px;
            position: absolute;
            padding: 12px;
            background-color: rgba(0, 0, 0, .6);
            color: #fff;
            text-align: center;
            cursor: pointer;
        }

        #imageDialog {
            margin: 48px;
            max-width: 100%;
            max-height: 100%;
        }

        #imageInDialog {
            margin-top: 0;
            margin-bottom: -5px;
            padding: 0;
            --iron-image-width: 100%;
            --iron-image-height: 100%;
            z-index: 1;
        }

        #closeDialog {
            position: fixed;
            color: white;
            z-index: 3;
            right: 0;
            top: 0;
            margin: 16px;
        }

        #downloadImage {
            position: fixed;
            color: white;
            text-decoration: none;
            z-index: 3;
            right: 0;
            bottom: 0;
            margin: 16px;
        }

        @media screen and (max-width: 600px) {

            #imageDialog {
                margin: 0px;
            }

            #closeDialog {
                display: none;
            }
        }

        #imageWrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            z-index: 2;
        }

        #leftWrap {
            float: left;
            width: 50%;
            height: 100%;
        }

        #rightWrap {
            float: right;
            width: 50%;
            height: 100%;
        }

    </style>

    <template>

        <div id="navInfo"
             on-tap="_nextImage()">
            [[_computeCurrent(current)]]/[[images.length]]
        </div>

        <div id="imageBox"
             on-tap="_openImageDialog()"
             tabindex="-1">
            <div id="image2"></div>
        </div>

        <paper-dialog id="imageDialog"
                      entry-animation="fade-in-animation"
                      exit-animation="fade-out-animation"
                      with-backdrop>
            <!--paper-icon-button id="addImageToFile"
                                  icon="my-icons:add">
            </paper-icon-button-->

            <paper-icon-button id="closeDialog"
                               icon="my-icons:close"
                               dialog-dismiss>
            </paper-icon-button>

            <a id="downloadImage" href="[[currentImage]]" download>
                <paper-icon-button icon="my-icons:download"></paper-icon-button>
            </a>

            <div id="imageWrapper">
                <div id="leftWrap" on-tap="_nextImage()"></div>
                <div id="rightWrap" on-tap="_previousImage()"></div>
            </div>
            <iron-image id="imageInDialog"
                        src="[[currentImage]]">
            </iron-image>
        </paper-dialog>

    </template>

</dom-module>

<script>

    (function () {

        Polymer({

            is: 'images-slider',

            properties: {

                images: {
                    type: Array,
                    observer: '_currentChanged'
                },

                currentImage: {
                    type: String
                },

                imageResolution: {
                    type: String
                },

                current: {
                    type: Number,
                    observer: '_currentChanged'
                }
            },

            ready: function() {

                // Event listeners
                this.$.navInfo.addEventListener('tap', this._nextImage.bind(this));
                this.$.imageBox.addEventListener('tap', this._openImageDialog.bind(this));

                this.$.leftWrap.addEventListener('tap', this._previousImage.bind(this));
                this.$.rightWrap.addEventListener('tap', this._nextImage.bind(this));

                // Set current if not set
                this.current = this.current || 0;
            },

            _currentChanged: function () {

                // Select size of image
                var imageShortenerUrl = 'https://steemitimages.com/';

                if(this.imageResolution == 'low') {

                    imageShortenerUrl += "300x200/";
                }else if(this.imageResolution == 'medium'){

                    imageShortenerUrl += "450x200/";
                }else if(this.imageResolution == 'high') {

                    imageShortenerUrl += "600x200/";
                }

                // Display image + preload next image + set in a var in component
                if(typeof this.images !== 'undefined'){

                    var image = this.images[this.current];
                    var image2 = this.images[(this.current+1) % this.images.length];

                    this.async(function() {

                        this.$.imageBox.style = 'background-image: url("' + imageShortenerUrl + image + '");';
                        this.$.image2.style = 'background-image: url("' + imageShortenerUrl + image2 + '");';
                    });

                    this.currentImage = image;
                }
            },

            _nextImage: function() {

                this.current = this._computeCurrent(this.current) % this.images.length;
            },

            _previousImage: function() {

                if(this.current == 0){

                    this.current = this.images.length-1; // Display last
                }else {

                    this.current = (this.current-1) % this.images.length; // Display previous
                }
            },

            _computeCurrent: function(current) {

                return current + 1;
            },

            _openImageDialog: function() {

                this.$.imageDialog.open();
            }


        });
    })();
</script>