<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">


<link rel="import" href="my-icons.html">

<link rel="import" href="../api/steemjs/steem-get-state.html">
<link rel="import" href="../components/post-card-light.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="pinned-tag-card">

    <template>

        <style include="shared-styles">

            paper-card {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 100%;
                background-color: var(--app-secondary-background-color);
            }

            #lastPostList {
                max-width: 568px;
                overflow: auto;
                display: inline-flex;
            }

            .card-content {
                padding-top: 0;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 16px;
            }

            .card-actions {
                text-align: right;
            }

            .card-actions paper-button a {
                color: var(--app-background-primary-text-color);
                text-decoration: none;
            }

            h3 {
                color: var(--app-secondary-color);
            }

        </style>

        <steem-get-state path="[[steemPath]]" posts="{{posts}}"></steem-get-state>

        <paper-card>
            <div class="card-content">
                <template is="dom-if" if="[[posts.length]]">
                    <h3>[[_tagName]]</h3>
                    <div id="lastPostList">
                        <template is="dom-repeat" items="[[posts]]">
                            <post-card-light post="[[item]]" settings="[[settings]]"></post-card-light>
                        </template>
                    </div>
                </template>
            </div>
            <div class="card-actions">
                <paper-button id="seeMoreLastPostButton" on-tap="_setCurrentViewPosts()">
                    <a href="[[steemPath]]">See more</a>
                </paper-button>
            </div>
        </paper-card>

    </template>

    <script>

        Polymer({

            is: 'pinned-tag-card',

            properties: {

                steemPath: {
                    type: String,
                    observer: '_computeTagName'
                },

                _tagName: {
                    type: String
                }
            },

            _computeTagName: function() {

                if(this.steemPath.includes('@')){

                    this._tagName = this.steemPath;
                }else {

                    this._tagName = '#' + this.steemPath.split('/')[1];
                }

            }

        });

    </script>
</dom-module>