<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../api/steemjs/steem-get-state.html">

<link rel="import" href="../components/post-wrapper.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="post-path-list">

    <template>

        <style>

            #posts {
                @apply(--layout-horizontal);
                overflow: auto;
                padding: 16px;
            }

        </style>

        <steem-get-state path="[[steemPath]]"
                         posts="{{posts}}"
                         query-path="[[queryPath]]">
        </steem-get-state>

        <div id="posts">
            <template is="dom-if" if="[[posts.length]]">
                <template is="dom-repeat" items="[[posts]]">
                    <post-wrapper post-type="[[postType]]"
                                  post="[[item]]">
                    </post-wrapper>
                </template>
            </template>
        </div>

    </template>
</dom-module>

<script>

    Polymer({

        is: 'post-path-list',

        properties: {

            steemPath: {
                type: String,
                observer: '_computeTagName'
            },

            queryPath: {
                type: Boolean
            },

            postType: {
                type: String
            },

            _tagName: {
                type: String
            },

            posts: {
                type: Array,
                observer: 'postsChanged'
            }
        },

        ready: function () {


        },

        _computeTagName: function() {

            console.log(this.steemPath);

            if(this.steemPath.includes('@')){

                this._tagName = this.steemPath;
            }else {

                this._tagName = '#' + this.steemPath.split('/')[1];
            }

        },

        postsChanged: function() {
            //console.log("For path "+this.steemPath+", posts ==="+this.posts);

            this.$.posts.style.maxWidth = '768px';//this.$.posts.offsetWidth + 'px';
        }

    });

</script>