<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/prism-element/prism-highlighter.html">
<link rel="import" href="../../bower_components/prism-element/prism-theme-default.html">

<dom-module id='prism-render'>

    <template>

        <style include="prism-theme-default">
            pre {
                padding: 0;
                margin: 0;
            }
        </style>

        <prism-highlighter></prism-highlighter>

        <pre id="output"></pre>

    </template>

    <script>

        Polymer({

            is: 'prism-render',

            properties: {

                code: {
                    type: String,
                    observer: '_renderCode'
                },

                lang: {
                    type: String
                }
            },

            attached: function() {
                this._renderCode();
            },

            _renderCode: function() {
                this.$.output.innerHTML = this.highlightCode(this.code, this.lang);
            },

            highlightCode: function(code, lang) {

                return this.fire('syntax-highlight', {code: code, lang: lang}).detail.code;
            }

            /* IDEA
             * Something to make this kind of comments (todo, ideas, issues...) getting listed in a container on github repository or highlited or something else to easly see on work on
             */
        });

    </script>

</dom-module>