<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../components/file-card.html">
<link rel="import" href="../dialogs/view-file-dialog.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="profile-files">

    <template>

        <style include="shared-styles">

            /* GENERAL */
            #folder-list paper-button {
                color: var(--app-background-primary-text-color);
            }

        </style>

        <view-file-dialog id="viewFileDialog"
                          file="[[_file]]">
        </view-file-dialog>

        <div id="folder-list">

            <paper-button id="resetFileQueryButton"
                          on-tap="_resetFileQuery()"
                          hidden="[[!folders.length]]">
                all
            </paper-button>

            <template is="dom-repeat" items="[[folders]]">
                <paper-button on-tap="_setFileQuery()">
                    [[item.name]]
                </paper-button>
            </template>

        </div>

        <div id="file-list">

            <template is="dom-repeat" items="[[files]]"
                      filter="{{_getFilesFilter(_fileQuery)}}">
                <file-card file="[[item]]"
                           action="{{_actionFile}}"
                           allow-select="false">
                </file-card>
            </template>

        </div>

    </template>
</dom-module>

<script>

    Polymer({

        is: 'profile-files',

        properties: {

            files: {
                type: Array
            },

            folders: {
                type: Array
            },

            _file: {
                type: Object
            },

            _fileQuery: {
                type: String
            }

        },

        listeners: {
            'folder-list.tap': '_setFileQuery'
        },

        observers: [
            '_doAction(_actionFile.type, _actionFile.id)'
        ],

        ready: function() {

            this.$.resetFileQueryButton.addEventListener('tap', this._resetFileQuery.bind(this));
        },

        _doAction: function(type, id) {

            switch(type) {

                case 'view':
                    this._openViewFile(id);
            }
        },

        _openViewFile: function(id) {

            // Get file from id
            for(var i = 0; i < this.files.length; i++) {

                if(this.files[i].id == id) {

                    // Set file object from index
                    this.set('_file', this.files[i]);

                    // Open dialog
                    this.$.viewFileDialog.open();
                }
            }

        },

        _setFileQuery: function(e) {

            this._fileQuery = e.model.item.name;
        },

        _resetFileQuery: function() {

            this._fileQuery = '';
        },

        /* PRODUCT SEARCH (FILTER) */
        _getFilesFilter: function(string) {

            if (!string) {

                // set filter to null to disable filtering
                return null;

            } else {

                // return a filter function for the current search string
                string = string.toLowerCase();

                return function(item) {

                    // Set variables
                    var tags = [];
                    var statement = false;
                    var keywords = string.split(" ");

                    if(typeof item.tags !== 'undefined') {

                        tags = item.tags;
                    }

                    // All keyword must match a tag
                    for(var i = 0; i < keywords.length; i++) {

                        var keyword = keywords[i].toLowerCase();
                        var keywordMatch = false;

                        for(var j = 0; j < tags.length; j++) { // String equal to a tag

                            var tag = tags[j].toLowerCase();

                            if(tag == keyword) {

                                keywordMatch = true;
                            }
                        }

                        statement = keywordMatch;

                    }

                    return statement;

                };
            }
        }

    });
</script>