<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="responsive-iframe">

    <template>

        <style include="shared-styles">

            :host {
                width: 100%;
            }

            #container {
                width: 100%;
                margin: 0;
                padding: 0;
            }


        </style>

        <div id="container">
            <iframe src="[[src]]"
                    frameborder="0"
                    height=""
                    width="">
            </iframe>
        </div>

    </template>

    <script>

        Polymer({

            is: 'responsive-iframe',

            properties: {

                /*
                 * URL source
                 */
                src: {
                    type: String
                },

                /*
                 * {width}:{height}
                 * B.E. 2:1, default 16:9
                 */
                ratio: {
                    type: String
                },

                _width: {
                    type: Number
                },

                _height: {
                    type: Number
                }

            },

            ready: function() {

                if(typeof this.ratio === 'undefined') {
                    this.ratio = '16:9';
                }

                var ratioArray = this.ratio.split(':');
                var ratioWidth = Integer.parseInt(ratioArray[0]);
                var ratioHeight = Integer.parseInt(ratioArray[1]);
                var ratio = ratioWidth/ratioHeight;

                var containerWidth = this.$.container.clientWidth;


                var width = containerWidth;
                var height = width * ratio;

                this.set('_width', width);
                this.set('_height', height);

            }

        });

    </script>
</dom-module>