<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="responsive-iframe">

    <template>

        <style include="shared-styles">

            :host {
                width: 100%;
            }

            #iframecontainer {
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .empty-iframe {
                text-align: center;
            }

            .empty-iframe #showSourceButton {
                display: inline;
                z-index: 2;
            }

            .url {
                overflow: auto;
                position: absolute;
                padding-left: 8px;
                padding-right: 8px;
                left: 0;
                top: 0;
                z-index: 1;
            }

        </style>

        <div id="iframecontainer">

            <div class="empty-iframe"
                 hidden="[[_url]]"
                 style="height: [[_height]]px; line-height: [[_height]]px">

                <span class="empty-iframe-content">
                    <paper-button id="showSourceButton" on-tap="_showSource()">
                        Show source
                    </paper-button>
                    <span class="url" style="width: [[_computeWidthLessSomething(_width, '16')]]px">[[url]]</span>
                </span>
            </div>

            <iframe src="[[_url]]"
                    hidden="[[!_url]]"
                    frameborder="0"
                    width="[[_width]]px"
                    height="[[_height]]px">
            </iframe>

        </div>

    </template>
</dom-module>

<script>

    Polymer({

        is: 'responsive-iframe',

        properties: {

            /*
             * URL source
             */
            url: {
                type: String
            },

            /*
             * {width}:{height}
             * B.E. 2:1, default 16:9
             */
            ratio: {
                type: String
            },

            /*
             * A prompt will occur to ask to show iframe if set as true
             */
            promptUser: {
                type: Boolean,
                observer: '_setUrl'
            },

            _url: {
                type: Number
            },

            /*
             * If width and height are set, element keep the same proportions
             */
            _width: {
                type: Number
            },

            /*
             * If width and height are set, element keep the same proportions
             */
            _height: {
                type: Number
            }

        },

        ready: function() {

            // Set var and listener
            this._url = "";
            this.$.showSourceButton.addEventListener('tap', this._showSource.bind(this));

            // Set width and height
            var thisElement = this;

            setTimeout(function(){

                thisElement._computeFrameSize();

            }, 300); // Can't find another solution to trigger this function after "iframecontainer" is correctly sized


            // Ask user to show Iframe or not depending on the source
            var promptUser = false;

            if(typeof this.promptUser !== 'undefined') {

                promptUser = this.promptUser;
            }

            // If user don't need to be prompted, directly show iframe (set the url)
            if(!promptUser) {

                this._url = this.url;
            }

        },

        _computeFrameSize: function() {

            var ratio = '16:9';
            var fixedHeight = '';

            // Set ratio by the ratio
            if(typeof this.ratio !== 'undefined') {

                ratio = this.ratio;
            }

            if(typeof this._width !== 'undefined' && typeof this._height !== 'undefined') {

                // Or keeping actual proportion (this is a hack)
                ratio = this._width + ":" + this._height;
            }else if (typeof this._height !== 'undefined') {

                // Or with fixed height
                fixedHeight = this._height;
            }

            var ratioArray = ratio.split(':');
            var ratioWidth = parseInt(ratioArray[0]);
            var ratioHeight = parseInt(ratioArray[1]);
            var ratio = ratioHeight/ratioWidth;

            var containerWidth = this.$.iframecontainer.clientWidth;


            var width = containerWidth;
            var height = width * ratio;

            if(fixedHeight !== '') {

                height = fixedHeight;
            }

            this.set('_width', parseInt(width));
            this.set('_height', parseInt(height));

        },

        _setUrl: function() {

            // prompt closed, show iframe
            if(typeof this.promptUser !== 'undefined') {
                if(!this.promptUser) {

                    this._url = this.url;
                }
            }
        },

        _showSource: function() {

            this.promptUser = false;
        },

        _computeWidthLessSomething: function(width, something) {

            return width - something;
        }

    });

</script>