<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../components/my-icons.html">

<dom-module id="share-button">

    <style>

        iron-icon {
            color: #eee;
            --iron-icon-height: 18px;
            --iron-icon-width: 18px;
        }

        paper-button {
            padding: 8px 16px;
            min-width: 0;
            min-height: 0;
        }

        #facebook {
            background-color: #3b5998;
        }

        #twitter {
            background-color: #0084b4;
        }

        #plus {
            background-color: #d34836;
        }

    </style>

    <template>

        <template is="dom-if" if="[[_isFacebook]]">
            <paper-button id="facebook" raised>
                <iron-icon icon="my-icons:facebook"></iron-icon>
            </paper-button>
        </template>

        <template is="dom-if" if="[[_isTwitter]]">
            <paper-button id="twitter" raised>
                <iron-icon icon="my-icons:twitter"></iron-icon>
            </paper-button>
        </template>

        <template is="dom-if" if="[[_isPlus]]">
            <paper-button id="plus" raised>
                <iron-icon icon="my-icons:google-plus"></iron-icon>
            </paper-button>
        </template>

    </template>

    <script>

        (function() {

            Polymer({

                is: 'share-button',

                listeners: {
                    'tap': '_openShareWebsite'
                },

                properties: {

                    /*
                     * Share button type [facebook, twitter, plus]
                     */
                    shareWebsite: {
                        type: String,
                        observer: '_typeChanged'
                    },

                    /*
                     * Url to share
                     */
                    shareUrl: {
                        type: String
                    },

                    _isFacebook: {
                        type: Boolean
                    },

                    _isTwitter: {
                        type: Boolean
                    },

                    _isPlus: {
                        type: Boolean
                    }
                },

                ready: function() {

                    // Set default share website
                    if(typeof this.shareWebsite === 'undefined') {

                        this.shareWebsite = 'facebook';
                    }
                },

                _typeChanged: function() {

                    // Set default boolean values
                    if(typeof this._isFacebook === 'undefined') {

                        this._isFacebook = false;
                    }

                    if(typeof this._isTwitter === 'undefined') {

                        this._isTwitter = false;
                    }

                    if(typeof this._isPlus === 'undefined') {

                        this._isPlus = false;
                    }

                    // Set boolean for showing expected button
                    switch (this.shareWebsite) {

                        case 'facebook':
                            this._isFacebook = true;
                            break;

                        case 'twitter':
                            this._isTwitter = true;
                            break;

                        case 'plus':
                            this._isPlus = true;
                            break;

                    }
                },

                _openShareWebsite: function() {

                    var url = '';

                    switch (this.shareWebsite) {

                        case 'facebook':
                            url = 'https://www.facebook.com/sharer/sharer.php?u=';
                            break;

                        case 'twitter':
                            url = 'https://twitter.com/home?status=';
                            break;

                        case 'plus':
                            url = 'https://plus.google.com/share?url=';
                            break;

                    }

                    url += this.shareUrl || window.location.href;

                    window.open(url);
                }
            });
        })();
    </script>
</dom-module>
